.draggable {
	cursor: move;
}

.close {
	position: absolute;
	top: -4px;
	left: -4px;
	width: 10px;
	height: 10px;
	border: 2px solid #666;
	background: #aaa;
	cursor: pointer;
	color: #666;
	font-size: 11px;
	font-family: sans-serif;
}
.close:before {
	content: 'X';
}

.resize {
	position: absolute;
	bottom: -4px;
	right: -4px;
	width: 14px;
	height: 14px;
	cursor: se-resize;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAWElEQVR42pWQ4QbAMBCDr/TH2Ats7/+g2ZiPk1avC6GRL5yGpMGvenwii/cMPiIJeDEY4d2Bry8G7hksuhIm02/BNihhdDPIZXmWl606y3Xa9/aUGyf98gOiZtF9XSAyUgAAAABJRU5ErkJggg==) no-repeat;
}
